[user]
name = typovrak
email = typovrak@gmail.com
signingkey = ~/.ssh/typovrak_github

[init]
defaultBranch = main

[commit]
gpgsign = true

[pull]
rebase = true

[push]
autoSetupRemote = true

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = ~/.ssh/allowed_signers

[includeIf "gitdir:~/projects/freelancing/comet-data"]
path = ~/projects/freelancing/comet-data/.gitconfig

[includeIf "gitdir:~/projects/freelancing/comet-data/.git"]
path = ~/projects/freelancing/comet-data/.gitconfig
