[user]
name = typovrak
email = typovrak@gmail.com
signingkey = ~/.ssh/typovrak_github

[init]
defaultBranch = main

[commit]
gpgsign = true

[pull]
rebase = true

[push]
autoSetupRemote = true

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = ~/.ssh/allowed_signers

[includeIf "gitdir:/home/typovrak/projects/freelancing/comet-data/**"]
path = /home/typovrak/projects/freelancing/comet-data/.gitconfig
